# .NET build artifacts
*.obj
*.dll
*.exe
*.pdb
*.user
*.vscode
*.vs

# NUnit test output
TestResults/

# Visual Studio Code settings
.vscode/

# JetBrains Rider settings
.idea/

# Test project-specific files
bin/
obj/
*.csproj.user
