@page
@model IndexModel
@{
    ViewData["Title"] = "Home page of Kohith WorkSpace";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Kohith Workplace </h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p> Checkout Azure DevOps Status by Clicking  <a href="https://status.dev.azure.com"> here yo </p>
</div>
